
body {
    height:730px;
}

.section {
    background-image: url("images/First-Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    margin-left: -7px;
    margin-right: -7px;
}

.div_table {
	background-color: black;
	border-radius: 25px;
	float: left;
	margin-left:200px;
	margin-top: 150px;
	opacity: 0.75;
	padding: 10px;
}
p {
    color:#ffffff;
}
td {
	color: white;
	font-size: 20px;
}

.table {
	line-height: 45px;
}

input {
	border-radius: 5px;
}

.title {
	font-size: 25px;
	color: white;
}